body {
background: rgb(238, 241, 235);
margin: 80px;
font-size: 18px;
font-family: "trebuchet M5", sans-serif;
}

h1 {
color:rgb(255, 255, 255);
font-size: 45px;
font-family: "trebuchet M5", sans-serif;
font-weight: 400;
margin-top: 0;
border: 5px solid white;
padding: 20px;

text-align: center;
background-color: rgb(166, 148, 182);

}

h2 {
color:rgb(204, 161, 158);
font-weight: lighter;
font-size: 30px;
margin-top: 10px;
margin-bottom: 10px;
float: right;
width: 50%;
}

img{
  width: 85%;
  border: 2px;
  padding: 5px;
}

.dates {
  font-weight: lighter;
  font-family: Tahoma, sans-serif;
  float:right;
  width: 50%;


}

p{
margin: 0;
margin-bottom: 18px;
margin-top: 18px;
border: 3px solid green;
padding: 20px;
font-size: 15px;

}

.first{
  margin-top: 30px;
background-color: rgb(255, 255, 255) ;
 border: 5px solid rgb(204, 161, 158);
 line-height: 1.5;
}

.second{
background-color: rgb(255, 255, 255);
  border: 5px solid rgb(204, 161, 158);
  line-height: 1.5;
}

.everything {
width: 85;
margin-left: auto;
margin-right: auto;

max-width: 600px;
min-width: 400px;
}

.cover {
float:left;
width: 50%;
margin-top: 30px;



}



.intro {
float: right;
  width: 50%;
}

@media screen and (max-width: 800px) {



.cover {
  float:none;
  width:auto;
}

.cover2 {
  float: none;
  width:auto;
}
.intro {
  width: auto;
}

h2 {
  float: none;
  font-size: 14px;
}

.dates{
  float:none;
  font-size: 12px;
}

p {

  font-size: 12px;
}

h1 {
font-size: 16px;
}


}
